   <body>
    <div >
    <header class="d-flex flex-wrap align-items-center py-4 mb-4 border-bottom header-color">
          
        <div class="col-md-3 text-end">
            <a class="btn btn-primary" href="/home" class="nav-link px-2 link-dark">Home</a>
        </div>
  
        <div class="col-md-3 text-end">
          <h1>PROFILE</h1>
        </div> 
      
      <div class="col-md-3 text-end">
            <form id="logout-form" action="/logout" method="POST">
                <button class="btn btn-primary">Logout</button>
            </form>
      </div>
    </header> 
    </div>
    
    
    
    <h3>Change GIT username</h3>
    
    <form action="/changegitusername" method="POST">

        {{#each data}}
            {{#if @first}}
                <label> New GIT Username
                    <input type="text" name="newgitusername" placeholder="{{this.owner.login}}"/>
                </label>
            {{/if}}
        {{/each}}
    <button class="btn btn-primary" type="submit">Change</button>
    </form>
    <br>
    <h3>Unregister</h3>
    <p>WARNING All will be lost and you need to start over WARNING</p>
    <div>
        <form id="logout-form" action="/unregister" method="POST">
            <button onclick="return confirm('WARNING you will need to register again and set up all you repositories WARNING');" class="btn btn-primary">Unregister</button>
        </form>
    </div>
    <br>

    <h3>Manage repositories</h3>

    <div>
        <form action="/profile" method="POST" id="repoListForm" class="repoList">
            <label>Repository Name</label>
            <label for="checkAll_commitStat">Check all
                <input type="checkbox" name="checkAll_commitStat" id="checkAll_commitStat" class="repoCheckbox" onClick="selectAll('commitStat','type')" />
            </label>
            <label for="checkAll_contributorStat">Check all
                <input type="checkbox" name="checkAll_contributorStat" id="checkAll_contributorStat" class="repoCheckbox" onClick="selectAll('contributorStat','type')" />
            </label>
            <label for="checkAll_healthStat">Check all
                <input type="checkbox" name="checkAll_healthStat" id="checkAll_healthStat" class="repoCheckbox" onClick="selectAll('healthStat','type')" />
            </label>
            {{#each data}}
                {{!-- <div class="repoList"> --}}
                    <label id="repoName" onClick="selectAll('{{this.name}}','repo')">{{this.name}}</label>
                    <label for="commitStat_{{this.name}}">Commit statistics
                        <input type="checkbox" name="commitStat_{{this.name}}" id="commitStat_{{this.name}}" class="repoCheckbox commitStat" 
                        {{#if this.commitStat_}}
                            {{this.commitStat_}}
                        {{/if}} />
                    </label>
                
                    <label for="contributors_{{this.name}}">Contributors
                        <input type="checkbox" name="contributors_{{this.name}}" id="contributors_{{this.name}}" class="repoCheckbox contributorStat" 
                        {{#if this.contributors_}}
                            {{this.contributors_}}
                        {{/if}} />
                    </label>
                
                    <label for="health_{{this.name}}">Health
                        <input type="checkbox" name="health_{{this.name}}" id="health_{{this.name}}" class="repoCheckbox healthStat" 
                        {{#if this.health_}}
                            {{this.health_}}
                        {{/if}} />
                    </label>
                {{!-- </div> --}}
            {{/each}}
            
                <button type="submit" value="submit" class="btn btn-primary" id="submitRepos">Submit</button>
        </form>
    </div>

    <script src="/js/script.js"></script>
    <script src="/js/checkAllOptions.js"></script>
   </body>
