   <body>
    <div>
          <h1>PROFILE</h1>
    </div>
    

    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>
      
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/home" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="/faq" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
      </ul>

        <div class="col-md-3 text-end">
            <form id="logout-form" action="/unregister" method="POST">
                <button onclick="return confirm('WARNING you will need to register again and set up all you repositories WARNING');" class="btn btn-outline-primary me-2">Unregister</button>
            </form>
      </div>
      <div class="col-md-3 text-end">
            <form id="logout-form" action="/logout" method="POST">
                <button class="btn btn-outline-primary me-2">Logout</button>
            </form>
      </div>
    </header> 
    </div>
    
    <p>change password</p>
    
    <h3>Change GIT username</h3>
    <form action="/changegitusername" method="POST">

    <label> New GIT Username
      <input type="text" name="newgitusername" placeholder="{{}}" />
    </label>

    <button type="submit">Change</button>
        
    
    
    
    <h3>manage repositories</h3>

    <div>
        <form action="/profile" method="POST" id="repoListForm">
            {{#each data}}
                <div class="repoList">
                    <label id="repoName">{{this.name}}</label>
                    <label for="commitStat_{{this.name}}">Commit statistics
                        <input type="checkbox" name="commitStat_{{this.name}}" id="commitStat_{{this.name}}" />
                    </label>
                
                    <label for="pageViews_{{this.name}}">Page views
                        <input type="checkbox" name="pageViews_{{this.name}}" id="pageViews_{{this.name}}" />
                    </label>
                
                    <label for="clonesReferrals_{{this.name}}">Clones and referrals
                        <input type="checkbox" name="clonesReferrals_{{this.name}}" id="clonesReferrals_{{this.name}}"/>
                    </label>
                    <span></span>
                </div>
            {{/each}}
                <button type="submit" value="submit" class="btn btn-outline-primary me-2">Submit</button>
        </form>
    </div>


  
    <script src="/js/script.js"></script>
   </body>
















